In [119]:
import pandas as pd
import numpy as np

I have found that some rating fields are malformed (contains , or ; instead of . and etc). So, to drop them from the dataset the following function is introduced:

In [120]:
def drop_malformed(_x):
    try:
        float(_x)
    except:
        return True
    return False

In [121]:
games = pd.read_csv('data/games.csv')
games.rename(columns={'id_game': 'gid'}, inplace=True)
games['gid'] = games['gid'].astype(np.int32)
games.head()

   gid                 title                      genre   price
0    1        Terraria(2011)  Open World Survival Craft   $9.99
1    2        Portal 2(2011)                 Platformer   $9.99
2    3  Stardew Valley(2016)                Farming Sim  $14.99
3    4           Hades(2020)           Action Roguelike  $24.99
4    5   Left 4 Dead 2(2009)                    Zombies   $9.99

In [122]:
user = pd.read_csv('data/user.csv')
user = user.rename(columns={'UserID': 'uid', 'GameID': 'gid'})
user['rating'].mask(user['rating'].apply(drop_malformed), inplace=True)
user.dropna(inplace=True)
user['gid'] = user['gid'].astype(np.int32)
user['uid'] = user['uid'].astype(np.int32)
user['rating'] = pd.to_numeric(user['rating'])
user.head()

   uid  gid  rating
0    1  147     1.9
1    1  198     5.0
2    1  137     9.0
3    1  197     5.1
4    2    9     7.4

Main function to get all games related to a certain user

In [123]:
def games_of_user(uid: int):
    return pd.merge(games.loc[games['gid'].isin( user.loc[user['uid'] == uid]['gid'] )], user.loc[user['uid'] == uid], on='gid')